/node_modules
webpack.mix.js
app.css
app.css.map
/public/js/*
app.js.map
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store

/public/uploads/pessoas_fisicas/*
/public/uploads/pessoas_juridicas/*
/public/uploads/projetos/*
/public/uploads/usuarios/*
/public/uploads/interna/*
/public/thumbs/pessoas_fisicas/*
/public/thumbs/pessoas_juridicas/*
/public/thumbs/projetos/*
/public/thumbs/usuarios/*

!/public/uploads/pessoas_fisicas/.gitkeep
!/public/uploads/pessoas_juridicas/.gitkeep
!/public/uploads/projetos/.gitkeep
!/public/uploads/usuarios/.gitkeep
!/public/uploads/interna/.gitkeep
!/public/thumbs/pessoas_fisicas/.gitkeep
!/public/thumbs/pessoas_juridicas/.gitkeep
!/public/thumbs/projetos/.gitkeep
!/public/thumbs/usuarios/.gitkeep
