// Variables
@import 'partials/variables';

// Fonts
@import 'partials/fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @import '~jquery-ui/themes/base/all.css';
// @import '~/tipr/tipr/tipr.css';

@import 'partials/projetoa';

body {
  font-family: $regular;
  font-size: 12pt;
  background-color: white;
  line-height: 18pt;
}

a:hover {
  text-decoration: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

#geral {
  min-height: 100vh;
  height: 100%;
  padding: 0 0 10px; 
}


.row {
  justify-content: center;
  > * {
    margin-right: $gutter + vw;
  }
}

#header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: $pink solid 1px;
  padding-top: 30px;
}

.logo {
  width: 135px;
  padding: 0 0 18px;
  
  img {
    width: 100%;
  }
}

.nav {
  border-top: $pink solid 2px;
  a, 
  a:visited {
    color: $pink;
  }
}

#redes {
  height: 20px;
  display: flex;
  color: $pink;

  img {
    height: 100%;
    margin-right: $gutter + vw;
  }

  p {
    margin: 0;
    font-size: 0.7em;
  }
}

.tooltip {
  background-color: $orange;
  color: $pink;
  font-size: 0.9em;
  border-top: $pink solid 3px;
}

#banner, #main {
  margin-bottom: 50px;
}

.ban-w {
  background: url('/images/banner1.png') no-repeat center center;
  height: 264px;
  margin-right: 0;
}

#main, #main a, #corpo {
  color: $red;
}

#main {
  > div {
    border-right: $pink solid 1px;
    margin-right: $gutter;
  }
  div:last-child {
    border-right: none;
  }
  li,
  p {
    font-size: 1.5em;
  line-height: 1.1em;
  }
}

// .pad-extra {
//   margin-right: 2 * $gutter + vw;
// }

.escolha {
  text-align: left;
  font-family: $bold;

  p {
    position: absolute;
    bottom: 0;
    max-width: 77%;
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
  }
}

.mic-b {
  font-family: 'Walsheim Pro Medium';
  height: 150px;
  display: flex;
  overflow: hidden;
  position: relative;
  // border: 1px solid green;
  

  ul {
    align-self: flex-end;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    li {
      a:hover {
        color: $orange !important;
      }
    }
  }

  .lista {
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    // height: 132px;
    width: 100%;
  }
}

.num {
  vertical-align: text-top;
  font-size: 12.7em;
  font-weight: bold;
  line-height: 0.8;
  margin-bottom: 47px;
}
