// Variables
@import 'partials/variables';

// Fonts
@import 'partials/fonts';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// @import '~jquery-ui/themes/base/all.css';
// @import '~/tipr/tipr/tipr.css';

// Tooltipster
@import '~tooltipster/dist/css/tooltipster.bundle';

// Carousel
@import '~bootstrap/scss/carousel';

// Partials
@import 'partials/mixins', 'partials/projetos-secao', 'partials/projetos-paginas','partials/sobre', 'partials/agenda', 'partials/tooltipster';

body {
  font-family: $regular;
  font-size: 12pt;
  background-color: white;
  line-height: 18pt;
    h1 {
    font-family: $bold;
    font-size: 2em;
    line-height: 0.9em;
  }
  a:hover {
    color: unset;
  }
}

body, a {
  color: $red;
}

a:hover {
  text-decoration: none;
}

#geral {
  min-height: 100vh;
  height: 100%;
  padding: 0 0 10px; 
  > .row {
    margin-left: 0;
    margin-right: 0
  }
}

// .row {
//   justify-content: center;
// }

#header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: white;
  border-bottom: $pink solid 1px;
  padding-top: 30px;
  color: $pink;
  a, 
  a:visited {
    color: $pink;
  }
  a:active {
    font-family: $bold;
  }
}

#logo {
  width: 135px;
  padding: 0 0 18px;
  img {
    width: 100%;
  }
}

.menuMobile {
  .hamburguer {
      cursor: pointer;
      float: right;
      // padding: 10px 8px;
      // background: white;
      > .bar {
        display: block;
        width: 48px;
        height: 4px;
        background: $pink;
        border-radius: 1px;
        + .bar {
          margin-top: 13px;
      }
    }
  }
}

.nave {
  border-top: $pink solid 2px;
}

#redes {
  display: block;
  height: 22.1px;
  display: flex;

  img {
    height: 100%;
    margin-right: calc(#{$grid-gutter-width});
  }

  p {
    font-family: $medium;
    margin: 0;
    font-size: 0.8em;
    // align-self: center;
  }
}

.tooltip {
  background-color: $orange;
  color: $pink;
  font-size: 0.9em;
  border-top: $pink solid 3px;
}

#banner, #main {
  margin-bottom: 50px;
}

.ban-w {
  height: 264px;
  padding-left: 0;
  padding-right: 0;
  @include img_cover();
}

#main {
  > div div:only-child {
  border-right: $pink solid 1px;
  height: 100%;
  }
  li,
  p {
    font-size: 1.5em;
  line-height: 1.1em;
  }
}

.escolha {
  text-align: left;
  font-family: $bold;
  p {
    position: absolute;
    bottom: 0;
    max-width: 77%;
    margin-bottom: 0;
  }
  a {
    text-decoration: underline;
  }
}

.mic-b {
  font-family: 'Walsheim Pro Medium';
  height: 150px;
  display: flex;
  overflow: hidden;
  position: relative;

  ul {
    align-self: flex-end;
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;

    li {
      a:hover {
        color: $orange !important;
      }
    }
  }

  .lista {
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: auto;
    height: 100%;
    width: 100%;
  }
}

.num {
  vertical-align: text-top;
  font-size: 12.7em;
  font-weight: bold;
  line-height: 0.8;
  margin-bottom: 47px;
}

@include media-breakpoint-down(sm) {
  body {
    padding: 30px;
  }
  #header {
    padding-top: 0;
  }
}