.formArea {
  background-color: $red;
  max-width: unset !important;
  p {
    background-color: $orange;
    font-size: 1.1em;
    display: inline;
  }
}

.fique {
  height: 150px;
  position: relative;
}

.porDentro {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.formWrap {
  display: block;
  width: 85%;
  padding: 15px 0; 
}

.formulario {
  width: 100%;
  display: flex;
  margin-top: 4px;

}

.item:first-child {
  margin-right: 7px;
}


.item {
    font-family: $bold;
    color: $orange;
    white-space: nowrap;
    margin-bottom: 0;
}

.grow {
  flex-grow: 1;
  background-color: $pink;
  border: none;
  width: 10px;
}

.formArea button {
  color: $red;
  background-color: $orange;
  font-family: $bold;
  font-size: 1.3rem;
  padding: 0 4px;
  border: none;
  position: absolute;
  bottom: 16px;
  right: calc(#{$grid-gutter-width} / 2);
}

.visualArea {
  font-size: 0.85em;
  .legendas {
    padding-bottom: 0.7rem;
  }
}

#carouselAgendaArea {
  height: 450px;
  margin-bottom: 100px;
}

.carouselAgenda {
  height: 100%;
  div {
    height: inherit;
  }
  
  .slide {
    max-width: 93%;
    
    .imagemAgenda {   
      overflow: hidden;
      transition: all .3s linear;
      height: 80%;

      img {
        mix-blend-mode: screen;
      }

      &:hover {
        background: black; 
      }
      @include img_cover(114%);
    }

    p {
      margin: 0;
      line-height: 1rem;
      font-size: 0.9rem;
    }

    .data {
      text-decoration: underline;
      margin: 10px 0;
    }
  }
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 8px;
  height: 16px;
  padding: 0;
  transform: translate(0, -375%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  background-size: 100% 100%;
}

.slick-prev {
  left: -18px;
  background-image: url('/images/arrowLeftRed.png');
}

.slick-next {
  right: -18px;
  background-image: url('/images/arrowRightRed.png');
}

.captionMobile {
  display: none;
}

@include media-breakpoint-down(sm) {
  .agenda {
    padding: 0 $mobileMargin;
  }

  .fique {
    height: 80px;
    p {
      font-size: 1.3em; 
    }
  }

  .formWrap {
    padding: 0;
    width: unset;
  }

  .formArea button {
    position: unset;
    float: right;
    margin: 23px 0;
  }

  .visualArea .legendas {
    border-bottom: 2px $red solid;
  }

  #carouselAgendaArea {
    margin-top: 20px;

    .carouselAgenda div {
      height: unset;
    }

    .slide {
      max-width: unset;
      margin-top: $mobileMargin;
      display: flex;
      
      .imagemAgenda {
        height: calc(380px/1.5);
        padding: 12.5%;
      }

      &:last-child {
        margin-bottom: $mobileMargin; 
      }
      
      .caption {
        display: none;
      }
      
      img {
        display: none;
      }
    }
  }
  
  .captionMobile {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // width: 80%;
    // height: 80%;
    // transform: translate(-50%, -50%);
    display: block;
    color: white;

    h1 {
      font-size: 2.8rem;
      cursor: pointer;
    }

    p {
      font-size: 1.1rem !important;
    }  
  }

  .carouselAgenda .slide .data {
    text-transform: uppercase;
    margin: 16px 0 18px;
  }

  .passado:hover {
    background: $pink !important;
  }

  .presente:hover {
    background: $red !important;
  }

  .futuro:hover {
    background:  $orange !important;
  }
}