.formArea {
  background-color: $red;
  max-width: unset !important;
  p {
    background-color: $orange;
    font-size: 1.1em;
    display: inline;
  }
}

.fique {
  height: 150px;
  position: relative;
}

.porDentro {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.formWrap {
  display: block;
  width: 85%;
  padding: 15px 0; 
}

.formulario {
  width: 100%;
  display: flex;
  margin-top: 4px;

}

.item:first-child {
  margin-right: 7px;
}


.item {
    font-family: $bold;
    color: $orange;
    white-space: nowrap;
    margin-bottom: 0;
}

.grow {
  flex-grow: 1;
  background-color: $pink;
  border: none;
  width: 10px;
}

.formArea button {
  color: $red;
  background-color: $orange;
  font-family: $bold;
  font-size: 1.3rem;
  padding: 0 4px;
  border: none;
  position: absolute;
  bottom: 16px;
  right: calc(#{$grid-gutter-width} / 2);
}

.visualArea {
  font-size: 0.85em;
  .legendas {
    padding-bottom: 0.7rem;
  }
}

.carouselAgenda {
  height: 380px;
  background-color: $orange;
}

@include media-breakpoint-down(sm) {
  .agenda {
    padding: 0 $mobileMargin;
  }

  .fique {
    height: 80px;
    p {
      font-size: 1.3em; 
    }
  }

  .formWrap {
    padding: 0;
    width: unset;
  }

  .formArea button {
    position: unset;
    float: right;
    margin: 23px 0;
  }

  .visualArea .legendas {
    border-bottom: 2px $red solid;
  }
}