#header {
  position: sticky;
  top: 0;
  z-index: $zindex-modal;
  background-color: white;
  border-bottom: $pink solid 1px;
  padding-top: 30px;
  color: $pink;
  a, 
  a:visited {
    color: $pink;
  }
  a:active {
    font-family: $bold;
  }
  .row {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
}

#logo {
  width: 135px;
  padding: 0 0 18px;
  img {
    width: 100%;
  }
}

.nave {
  border-top: $pink solid 2px;
}

#redes {
  display: flex;
  
  p {
    font-family: $medium;
    margin: 0;
    font-size: 0.8em;
  }

  .loc {
    background: url("/images/loc.png") no-repeat;
    background-size: cover;
    &:hover {
      background-image: url("/images/loc_hov.png");
    }
  }
}

.icon {
  margin-right: calc(#{$grid-gutter-width});
  width: 22.1px;
  height: 22.1px;
  
  img {
    height: 100%;
    vertical-align: unset;
  }

  a {
    width: 100%;
  }
  
  img {
    width: 100%;
  }
}

.localizacao {
  border-top: 2px solid $pink;
  margin: 20px;
  padding-top: 12px;
  a {
    font-family: $bold;
    color: $pink;
  }
  p {
    margin-bottom: 3px;
    font-size: 0.98em;
    &:first-of-type {
      margin-top: 18px;
    }
    &:last-of-type {
      font-size: 0.8em;
    }
  }
}

#menuMobileArea {
  .hamburguer {
      cursor: pointer;
      float: right;
      // padding: 10px 8px;
      // background: white;
      > .bar {
        display: block;
        width: 48px;
        height: 4px;
        background: $pink;
        border-radius: 1px;
        + .bar {
          margin-top: 13px;
      }
    }
  }
}

#menuMobile {
  padding: 30px;
  background: $pink;
  color: $orange;
  font-size: 1.1rem;
  position: fixed;
  z-index: $zindex-popover;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: $orange;

  a, 
  a:visited {
    font-family: $medium;
    color: $orange;
  }

  a:active {
    font-family: $bold;
  }

  .redesMobile {
    display: flex;
  }
  > div:first-child {
    margin-bottom: 70px;
  }
}

.naveMobile {
  border-top: $orange solid 2px;
  margin-bottom: 19px;
  font-size: 1.2rem;
}

@include media-breakpoint-down(sm) {
  #header {
    position: static;
    padding: 30px 30px 0;
    border: none;
  }
  
  .icon {
    margin-right: 8px;
    width: 1.6rem;
    height: 1.6rem;
    &:last-child {
      position: absolute;
      right: 0;
    }
  }
  #menuMobile .loc {
    background: url("/images/mobile/loc.png") no-repeat;
    background-size: cover;
  }
}
