@mixin border($color, $padTop: 14px, $padBot: 10px) {
  border-top: $color solid 2px;
  padding-top: $padTop;
  padding-bottom: $padBot;
}

@mixin img_cover($height: 100%) {
  img {
    object-fit: cover;
    height: $height;
    width: 100%;
  }
}