@import 'mixins';

#carouselProjetoArea {
  margin-bottom: 30px;
}

.carousel {
  @include img_cover;
  overflow: hidden;
  
  div {
    height: inherit;
  }

  .carousel-control-prev, .carousel-control-next {
    width: 3%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 8px;
    height: 16px;
  }

  .carousel-control-prev-icon {
    background-image: url('/images/arrowLeft.png');
  }

  .carousel-control-next-icon {
    background-image: url('/images/arrowRight.png');
  }
}

#carouselProjeto {
  height: 344px;
}

#corpo {
  .texto {
    padding-bottom: 45px;
  }
}

.col-fix-9 {
  flex-basis: 79% !important;
  max-width: 79% !important;
}

.col-fix-3 {
  flex-basis: 21% !important;
  max-width: 21% !important;
}

.projeto {
  .ficha {
    position: sticky;
  }
}

.tipo-d .info a {
  text-decoration: underline;
  font-family: $bold;
}

.tipo-c {
  div {
    color: black;
  }
  .texto {
    margin-bottom: 100px;
  }
  .texto, .ficha > div {
    @include border(black);
  }
  .parceiros {
    img {
      width: 63px;
      height: 63px;
      filter: grayscale(100%);
    }
  }
}

.ficha {
  // float: left;
  display: block;
  align-self: flex-start;
  font-size: $texto-geral-base;
  top: 135px;
  > div {
    @include border($red);
  }
}

.titulo {
  line-height: 1.2em;
  sup {
    font-size: 0.4em;
    top: -1em;
  }
}

.logo-externo {
  margin-top: 10px;
  width: 73%;
  @include img_cover();
}

.texto {
  @include border($red);
  font-size: $texto-geral-base;
  line-height: 1.7em;
}

.notas {
  font-size: 0.87em;
  position: absolute;
  top: 100px;
  p {
    margin-bottom: 0;
    line-height: 1.4em;
    &:first-child {
      margin-bottom: 6px;
    }
  }
}

.galeria {
  @include border($red);
  h2 {
    margin-bottom: 23px;
  }
  margin-bottom: 100px;
}

.thumb {
  height: 200px;
  // margin: 0 1% 8px 0; //margem lateral em %, em concordancia com  o width dos containers
  display: inline-block;
  @include img_cover();
}

.landscape {
  width: 57%;
}

.portrait {
  width: 40%;
}

.info {
  line-height: 1.2em;
  p {
    margin-bottom: 0px;
  }
  span {
    margin-bottom: 3px;
  }
}

.campo {
  margin-bottom: 12px;
}

.parceiros {
  margin-top: 14px;
  img {
    border-radius: 50%;
    width: 46px;
    height: 46px;
    // margin: 0 36px 0 0px; //usar caso mais parceiros na mesma linha
    &:first-child {
      margin-right: 32px;
    }
    // &:last-child { // idem
    //   margin-right: 0;
    // }
  }
}

.subprojeto { 
  display: flex;
  line-height: 1.1em;
  margin-top: 13px;
  &:first-child {
    margin-top: 0px;
    .portrait {
      border-top: none;
      padding: unset;
    }
  }
  p {
    margin-bottom: 0;
  }
  .portrait {
    @include border($red, 14px, unset);
    margin-right: 2%;
    width: 49%;
  }
  .landscape {
    width: 51%;
  }
  .thumb {
    margin-right: 0;
  }
}

.med {
  font-family: $medium;
}

.bold {
  font-family: $bold;
}

@media (max-width: 768px) {
  .ficha {
    position: static;
  }
}

@include media-breakpoint-down(sm) {
  #carouselProjetoArea {
    margin-bottom: 0;
    > div {
      padding: 0;
    }
  }

  .carousel {
    .carousel-control-prev, .carousel-control-next {
      width: 20%;
      opacity: 1;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
      width: 13px;
      height: 27px;
    }
  }

  #carouselProjeto {
    height: 200px;
  }
  

  #corpo {
    padding: $mobileMargin;
    .texto {
      padding-bottom: 0px;
    }
  }

  .projeto .ficha {
    position: static;
  }

  .notas {
    @include border($red);
    position: static;
    top: unset;
  }

  #carouselGaleriaArea {
    @include border($red, 14px, 20px);    
  }
  
  #carouselGaleriaMobile {
    height: 180px;
    
    .carousel-control-prev-icon {
      background-image: url('/images/arrowLeftRed.png');
    }

    .carousel-control-next-icon {
      background-image: url('/images/arrowRightRed.png');
    }
  }

  .subprojeto {
    flex-wrap: wrap;
    margin-top: 18px;
    &:first-child {
      margin-top: 0;
    }
    .portrait, .landscape {
      width: 100%;
      margin-right: unset;
    }

    .thumb {
      margin: 21px 0 0;
    }
  }
}