@mixin red_border() {
  border-top: $red solid 3px;
  display: block;
  padding: 10px 0 10px;
}

#carrousel {
  margin-bottom: 30px;
}

.car-w {
  background: url("/images/proja.png") no-repeat center center/100%;
  height: 344px;
  max-width: 66.66666667% + (5 * $gutter); //compensação dos gutters
  flex: 0 0 66.66666667% + (5 * $gutter);
}

#corpo {
    font-size: 1em;
}

// .ficha, .texto {
//   padding-left: 0;
// }

.ficha {
  float: left;
  display: block;
  div {
    @include red_border();
  }
  h1 {
    font-family: $bold;
    font-size: 2.2em;
  }
}

.titulo {
  line-height: 1.2em;
}

.info {
  line-height: 1.5em;
  p {
    margin-bottom: 0px;
  }
  span {
    margin-bottom: 3px;
  }
}

.med {
  font-family: $medium;
}

.bold {
  font-family: $bold;
}

.texto {
  @include red_border();
  padding-bottom: 45px;
}

.galeria {
  @include red_border();
}

.margem-extra {
  margin-right: 3 * $gutter + vw !important;
}