@import 'mixins';

#carrousel {
  margin-bottom: 30px;
}

.car-w {
  height: 344px;
  @include img_cover();
}

#corpo {
  .texto {
    padding-bottom: 45px;
  }
}

.projeto {
  .ficha {
    position: sticky;
  }
}

.tipo-d .info a {
  text-decoration: underline;
  font-family: $bold;
}

.tipo-c {
  div {
    color: black;
  }
  .texto {
    margin-bottom: 100px;
  }
  .texto, .ficha > div {
    @include border(black);
  }
  .parceiros {
    img {
      width: 63px;
      height: 63px;
      filter: grayscale(100%);
    }
  }
}

.ficha {
  // float: left;
  display: block;
  align-self: flex-start;
  font-size: $texto-geral-base;
  top: 135px;
  > div {
    @include border($red);
  }
}

.titulo {
  line-height: 1.2em;
  sup {
    font-size: 0.4em;
    top: -1em;
  }
}

.logo-externo {
  margin-top: 10px;
  width: 73%;
  @include img_cover();
}

.texto {
  @include border($red);
  font-size: $texto-geral-base;
  line-height: 1.4em;
}

.galeria {
  @include border($red);
  h2 {
    margin-bottom: 23px;
  }
  margin-bottom: 100px;
}

.thumb {
  height: 200px;
  margin: 0 1% 8px 0; //margem lateral em %, em concordancia com  o width dos containers
  display: inline-block;
  @include img_cover();
}

.landscape {
  width: 57%;
}

.portrait {
  width: 40%;
}

.info {
  line-height: 1.2em;
  p {
    margin-bottom: 0px;
  }
  span {
    margin-bottom: 3px;
  }
}

.campo {
  margin-bottom: 12px;
}

.parceiros {
  margin-top: 14px;
  img {
    width: 46px;
    height: 46px;
    // margin: 0 36px 0 0px; //usar caso mais parceiros na mesma linha
    &:first-child {
      margin-right: 32px;
    }
    // &:last-child { // idem
    //   margin-right: 0;
    // }
  }
}
// TODO barra vermelha na segunda iteração
.subprojeto { 
  display: flex;
  line-height: 1.1em;
  margin-top: 7px;
  &:first-child {
    margin-top: 0px;
  }
  p {
    margin-bottom: 0;
  }
  .portrait {
    width: 49%;
  }
  .landscape {
    width: 51%;
  }
  .thumb {
    margin-right: 0;
  }
}

.med {
  font-family: $medium;
}

.bold {
  font-family: $bold;
}

@media (max-width: 768px) {
  .ficha {
    position: static;
  }
}