@import 'mixins';

#carouselProjetoArea {
  margin-bottom: 30px;
}

.carousel {
  @include img_cover;
  overflow: hidden;
  
  div {
    height: inherit;
  }

  .carousel-control-prev, .carousel-control-next {
    width: 3%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 8px;
    height: 16px;
  }

  .carousel-control-prev-icon {
    background-image: url('/images/arrowLeft.png');
  }

  .carousel-control-next-icon {
    background-image: url('/images/arrowRight.png');
  }
}

#carouselProjeto {
  height: 344px;
}

#corpo {
  .texto {
    padding-bottom: 45px;
  }
}

.col-fix-9 {
  flex-basis: 79% !important;
  max-width: 79% !important;
}

.col-fix-3 {
  flex-basis: 21% !important;
  max-width: 21% !important;
}

.projeto {
  .ficha {
    position: sticky;
  }
}

.tipo-d .info a {
  text-decoration: underline;
  font-family: $bold;
}

.tipo-c {
  div {
    color: black;
  }

  .texto, .ficha > div {
    @include border(black);
  }

  .parceiros img {
    margin-right: $marginParceiros;
    width: 63px;
    height: 63px;
    filter: grayscale(100%);
    // &:nth-child(3n + 1) {
    //   margin-right: $marginParceiros;
    // }
    // &:nth-child(2n + 1) {
    //   margin-right: unset;
    // }
  }
}

.ficha {
  display: block;
  align-self: flex-start;
  font-size: $texto-geral-base;
  top: 135px;
  > div {
    @include border($red);
  }
}

.titulo {
  line-height: 1.2em;
  sup {
    font-size: 0.4em;
    top: -1em;
  }
}

.logo-externo {
  margin-top: 10px;
  width: 73%;
  @include img_cover();
}

.texto {
  @include border($red);
  font-size: $texto-geral-base;
  line-height: 1.7em;
}

.notas {
  font-size: 0.87em;
  position: absolute;
  top: 100px;
  p {
    margin-bottom: 0;
    line-height: 1.4em;
    &:first-child {
      margin-bottom: 6px;
    }
  }
}

.galeria {
  @include border($red);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  h2 {
    margin-bottom: 23px;
    flex-basis: 100%;
  }
  margin-bottom: 100px;
}

.thumb {
  height: 200px;
  margin-bottom: 0.5rem;
  display: inline-block;
  @include img_cover();
  position: relative;

  // &:nth-child(odd) {
  //   width: 57%;
  // }

  // &:nth-child(even) {
  //   width: 41%;
  // }
  
}


.landscape {
  width: 57%;
}

.portrait {
  width: 41%;
}

.hoverThumb { 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $pink;
  
}

.transparente {
  opacity: 0;
}

.captionGaleria {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  p {
    line-height: 1em;
    font-size: 1rem;

    &:first-child {
      font-family: $bold;
      margin-bottom: 3px;
    }
  }
}

.info {
  line-height: 1.2em;
  p {
    margin-bottom: 0px;
  }
  span {
    margin-bottom: 3px;
  }
}

.campo {
  margin-bottom: 12px;
}

.parceiros {
  img {
    margin-top: 14px;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    margin-right: 18px;
    // &:nth-child(3n + 1) {
    //   margin-right: unset;
    // }
  }
}

.subprojeto { 
  display: flex;
  line-height: 1.1em;
  margin-top: 13px;
  &:first-child {
    margin-top: 0px;
    .portrait {
      border-top: none;
      padding: unset;
    }
  }
  p {
    margin-bottom: 0;
  }
  .portrait {
    @include border($red, 14px, unset);
    margin-right: 2%;
    width: 49%;
  }
  .landscape {
    width: 51%;
  }
  .thumb {
    margin-right: 0;
  }
}

.med {
  font-family: $medium;
}

.bold {
  font-family: $bold;
}

@media (max-width: 768px) {
  .ficha {
    position: static;
  }
}

@include media-breakpoint-down(sm) {
  #carouselProjetoArea {
    margin-bottom: 0;
    > div {
      padding: 0;
    }
  }

  .carousel {
    .carousel-control-prev, .carousel-control-next {
      width: 20%;
      opacity: 1;
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
      width: 13px;
      height: 27px;
    }
  }

  #carouselProjeto {
    height: 200px;
  }
  

  #corpo {
    padding: $mobileMargin;
    .texto {
      padding-bottom: 0px;
    }
  }

  .projeto { 
      .ficha {
      position: static;
        > div {
          @include border($red, 18px, 14px);
      }
    }
  }

  .tipo-c {
    .texto, .ficha > div {
      @include border(black);
    }
    .notas {
      @include border(black, 17px, 16px);
    }
    // .parceiros img {
    //   &:nth-child(2n + 1) {
    //     margin-right: $marginParceiros;
    //   }
    // }
  }

  .logo-externo {
    width: 44%;
  }

  .notas {
    @include border($red, 17px, 16px);
    position: static;
    top: unset;
  }

  .parceiros img {
    width: 66px;
    height: 66px;
    margin-top: 20px;
    margin-right: $marginParceiros;
  }

  #carouselGaleriaArea {
    @include border($red, 14px, 20px);    
  }
  
  #carouselGaleriaMobile {
    height: 180px;
    
    .carousel-control-prev-icon {
      background-image: url('/images/arrowLeftRed.png');
    }

    .carousel-control-next-icon {
      background-image: url('/images/arrowRightRed.png');
    }
  }

  .subprojeto {
    flex-wrap: wrap;
    margin-top: 18px;
    &:first-child {
      margin-top: 0;
    }
    .portrait, .landscape {
      width: 100%;
      margin-right: unset;
    }

    .thumb {
      margin: 21px 0 0;
    }
  }
}