@import 'mixins';

.projetos {
  font-size: 0.85em;
  
  hr {
    margin-top: 0.6rem;
    margin-bottom: 0;
    border-top: $red solid 2px;
  }
}

.legendas {
  padding-top: 2.7rem;
  padding-bottom: 1.7rem;
  .leg-item {
    display: inline-flex;
    height: 13px;
    margin-right: 16px;
    img {
      height: 100%;
      margin-right: 3px;
    }
    p {
      line-height: 1em;
    }
  }
}

.thumbProjeto {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  margin-bottom: 14px;
  cursor: pointer;
  transition: all .3s linear;
  img {
    mix-blend-mode: screen;
  }
  @include img_cover(164%);
  
  &:hover {
    background: black; 
  }
}

.caption {
  line-height: 1.2em;
  p {
    margin-bottom: 0px;
  }
  p + p {
    margin-bottom: 1.6rem;
  }
}

.cap-c {
  color: black !important;
}

.passado {
  background: $pink;
}

.presente {
  background: $red;
}

.futuro {
  background:  $orange;
  & + .caption {
    color: $orange;
  }
}


@include media-breakpoint-down(sm) {
  .projetos {
    padding: 0 $mobileMargin;
  }

  .legendas {
    padding-top: 1rem;

    .leg-item {
      display: flex;
      height: 19px;
      margin-bottom: 13px;

      p {
        line-height: unset;
        margin-left: 7px;
      }
    }

    hr {
      margin-top: 1.5rem;
    }
  }
}