.logo-vertical {
  padding: 0 $lateral-logo-vertical 50px $lateral-logo-vertical;
  img {
    width: 100%;
  }
}

#sobre {
  overflow: hidden;
  height: calc(100vh - 115px);
  > div {
    height: 100%;
    overflow: hidden;
    // z-index: $zindex-dropdown;
  }
  h1 {
    margin-bottom: 25px;
  }
  .scroll {
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-right: 5px;
    box-sizing: content-box;
    margin-top: 5.5vh;
    scrollbar-width: thin;
    scrollbar-color: $red transparent;

    &::-webkit-scrollbar {
      width: 0.2em;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $red;
      outline: 1px solid $red;
    }

    // > div {
    //   z-index: $zindex-modal;
    // }
  }
  .texto {
    padding-bottom: 25px;
  }
  .info {
    line-height: 1.4em;
    font-size: 0.9em;
  }
  .ficha {
    width: 100%;
    top: unset;
  }
}

.smoll {
  font-size: 0.86em;
}