.logo-vertical {
  padding: 0 $lateral-logo-vertical 50px $lateral-logo-vertical;
  img {
    width: 100%;
  }
}

#sobre {
  overflow: hidden;
  // padding-top: 40px;
  height: calc(100vh - 115px);
  > div {
    height: 100%;
    // width: 100%;
    overflow: hidden;
  }
  h1 {
    margin-bottom: 25px;
  }
  .scroll {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding-right: 18px;
    box-sizing: content-box;

    > div:first-of-type {
      margin-top: 6.5vh;
    }
  }
  // TODO issue no width das divs internas a scroll.
  .texto {
    padding-bottom: 25px;
  }
  .info {
    line-height: 1.4em;
    font-size: 0.9em;
  }
  .ficha {
    width: 100%;
    top: unset;
  }
}

.smoll {
  font-size: 0.86em;
}