.tooltipster-sidetip.tooltipster-noir .tooltipster-box {
  background: $orange;
  border: none;
}

.tooltipster-sidetip.tooltipster-noir .tooltipster-content {
  color: $pink;
}

.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: $orange;
}

.tooltipster-sidetip.tooltipster-noir.tooltipster-bottom .tooltipster-arrow-background {
  border-bottom-color: $orange;
}

#tooltip_templates {
  display: none;
  z-index: $zindex-tooltip;
}
