// Body
$body-bg: #f8fafc;

// Typography
$bold: 'Walsheim Pro Bold';
$regular: 'Walsheim Pro Regular';
$medium: 'Walsheim Pro Medium';

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: rgb(237, 37, 136);
$red: rgb(231, 0, 23);
$orange: rgb(245, 151, 32);
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Tamanho
$gutter: 0.88;