
//Formulários
@import "variables";

body {
    margin: 0;
    background-color: white;
    font-family: $fonte-admin-light;
    font-size: $font-size-base;
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    color: $magenta;
    text-decoration: none;
    &:hover {
        color: $laranja;
        @extend %transition_fast;
    }
}

hr {
    border-top: 1px solid #efefef !important;
    margin: 30px 0 !important;
}

#app {
    margin: 0;
    width: 100%;
    //height: 100%;
    //display: inline-block;
    float: left;
    overflow:hidden;
    position:relative;

    #principal {

        width: 100%;
        //height: 100%;
        //display: inline-block;
        float: left;
        position:relative;
        background-color: $cor_fundo;

        #container_geral {
            //display: inline-block;
            float: left;
            position:relative;
            width: 100%;
            min-height: 100vh;
        }

        #cabecalho {
            width: 100%;
            height: $cabecalho;
            background-color: $cor_fundo;
            border-bottom: 1px solid $cinza_borda;

            a {
                color: $laranja;
                text-decoration: none;
            }
    
            .container {
                width: 100%;
                height: 100%;
                padding: 14px 30px;
                box-sizing: border-box;

                .logo {
                    float: left;

                    img {
                        width: 115px;
                        height: auto;
                    }
                }   
    
                .usuario {
                    float: right;
                    width: 400px;
                    height: 100%;
                    text-align: right;
                    color: black;
                    margin-top: 10px;
    
                    .login,
                    .nome_usuario,
                    .registrar,
                    .logout {
                        display: inline-block;
                    }
                }
    
            } //.container
        } //#cabecalho

        #sidebar {
            float: left;
            background-color: $cinza_medio;
            width: $sidebar_w;
            height: calc(100% - #{$cabecalho});
            min-height: calc(100vh - #{$cabecalho});
            padding: 20px 0 0 0;
            box-sizing: border-box;
            position:relative;

            ul {
                padding: 0;

                li {
                    line-height: 1em;
                    padding: 12px 10px 12px 0;
                    text-align: right;

                    &.grupo {
                        //
                        span {
                            color: $cinza_escuro;
                            font-family: $fonte-admin-medium;
                        }
                    }

                    &.opcao {
                        &.selecionado {
                            background-color: $cinza_medio2;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $cinza_escuro;
                    }
                } //li
            } //ul

            #inferior {
                position: absolute;
                bottom: 0;
                margin: 0;
                width: 100%;

                .add_contato {
                    height: 45px;
                    border-top: 1px solid $cinza_borda;

                    .botao {
                        height: 100%;
                        width: 45px;
                        float: right;
                        display: table;

                        .botao_inner {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;

                            img {
                                cursor: pointer;
                            }
                        }
                    }
                } //.add_contato
            } //#inferior
        } //#sidebar

        #conteudo_geral {
            float: left;
            width: calc(100% - #{$sidebar_w});
            //height: calc(100% - #{$cabecalho});
            background-color: $cor_fundo;
            padding: 0;
            box-sizing: border-box;
            position:relative;
            min-height: calc(100vh - #{$cabecalho});

            .login {
                padding: 50px 0 0 50px;

                .login-label {
                    margin-top: 7px;
                }
            }

            #container_conteudo {

                .titulo {
                    color: $cinza_escuro;
                    font-size: 2.5em;
                    height: 92px;
                    display: block;
                    width: 100%;

                    .imagem_destaque {
                      display: block;
                      width: 92px;
                      height: 92px;
                      float: left;

                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                      }
                    }
                    .nome {
                      float: left;
                      display: table;
                      width: calc(100% - 92px);
                      height: 100%;
                      padding-left: 30px;
                      box-sizing: border-box;

                      span {
                        display: table-cell;
                        vertical-align: middle;
                      }
                    }
                }

                .campo {
                    width: auto;
                    margin-bottom: 12px;
                    color: $cinza;
                    margin-right: 20px;
                    text-align: left;
                }

                label {
                    color: $cinza;
                }

                .grupo {
                    //
                    input,
                    select,
                    .nome_grupo {
                        margin-bottom: 20px;
                    }

                    .nome_grupo {
                        font-size: 1.313em;
                        margin-top: 32px;
                    }

                    input {}

                } //.grupo

                .tabela_arquivos {
                  //

                  table {
                    font-size: 12px;
                    border-collapse: collapse;
                    border-spacing: 0;

                    th, td {
                      position: relative;
                      top: 2px;
                      padding: 5px 10px 3px 0;
                      height: 29px;

                      &.num_arquivo {
                        min-width: 20px;
                        max-width: 20px;
                      }
                      &.nome_arquivo {
                        min-width: 240px;
                        max-width: 240px;
                      }
                      &.descricao_arquivo {
                        min-width: 240px;
                        max-width: 240px;
                      }
                      &.destaque_arquivo {
                        text-align: center;
                        min-width: 60px;
                        max-width: 60px;
                      }
                      &.tipo_arquivo {
                        min-width: 68px;
                        max-width: 68px;
                      }
                      &.data_arquivo {
                        min-width: 130px;
                        max-width: 130px;
                      }
                      &.remove_arquivo {
                        text-align: center;
                        min-width: 60px;
                        max-width: 60px;
                      }

                      input {
                        background-color: transparent;
                        border: none;
                        width: 100%;
                        min-width: unset;
                      }
                    }

                    tr:nth-child(even){
                      background-color: $cinza_claro;
                      //color: #fff;
                    }

                  }//table

                  .btn_destaque {
                    width: 18px;
                    height: 18px;
                  }
                }//tabela_arquivos

                .cargos {}

                .nome_grupo {
                    margin-bottom: 20px;
                    font-size: 1.313em;
                    margin-top: 32px;
                }

                .editar {
                    font-size: 0.6em;
                    display: inline-block;
                    text-transform: lowercase;
                    margin: 5px 0 0 10px;
                    position: absolute;

                    a {
                        color: $cinza;
                    }
                }

                .campo,
                .valor {
                    float: left;
                }

                .valor {
                    width: 100%;
                }

                .adiciona_contato {
                    display: inline-block;
                }

                br {
                    clear: both;
                }

                form {
                    display: block;
                }

                input[type=text] {
                    outline: none;
                    border: none;
                    display: inline-block;
                    box-sizing: border-box;
                    width: auto;
                    min-width: 350px;
                    border-bottom: 1px solid lightgray;
                }

                input[type=text]:focus {
                    box-shadow: $cor_fundo;
                    border: none;
                }

                select {
                    background-color: $cor_fundo;
                    border: none;
                }

                .botoes {
                    margin-left: 8px;
                    display: inline-block;

                    .btn_edit,
                    .btn_delete {
                        width: 12px;
                        height: auto;
                        margin-right: 5px;
                    }
                }

                .form_endereco {
                    //

                }

            } //#container_conteudo

            .busca_lista {
                width: $lista_w;
                display: inline-block;
                float: left;

                .lupa_texto_container {
                    height: $busca_lista_h;
                    background-color: $cinza_claro;
                    display: table;
                    width: $lista_w;
                    padding: 1px 0 0 10px;
                    border-bottom: 1px solid $cinza_borda;
                    border-left: 1px solid $cinza_borda;
                    border-right: 1px solid $cinza_borda;

                    .lupa_texto {
                        vertical-align: middle;
                        display: table-cell;

                        .lupa {
                            float: left;
                            width: $lupa;
                            height: $lupa;
                            margin-right: 5px;
                            background-size: $lupa $lupa;
                            display: block;
                            background-image: url('../img/lupa.png');
                        }

                        input {
                            width: calc(100% - (#{$lupa} + 5px));
                            border: none;
                            background-color: $cinza_claro;
                            height: $lupa;
                            font-size: 19px;
                            color: $cinza_escuro;

                            &:focus {
                                outline: none;
                            }

                            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: $cinza_placeholder;
                                opacity: 1; /* Firefox */
                            }

                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: $cinza_placeholder;
                            }

                            &::-ms-input-placeholder { /* Microsoft Edge */
                                color: $cinza_placeholder;
                            }
                        }
                    } //.lupa_texto
                } //.lupa_texto_container
            } //.busca_lista

            .lista {
                float: left;
                width: $lista_w;
                height: calc(100% - #{$busca_lista_h} - #{$busca_lista_h});
                min-height: calc(100vh - #{$cabecalho} - #{$busca_lista_h});
                max-height: calc(100vh - #{$cabecalho} - #{$busca_lista_h});
                overflow-y: auto;
                background-color: $cinza_claro;
                border-left: 1px solid $cinza_borda;
                border-right: 1px solid $cinza_borda;
                padding: 0;

                ul {
                    display: block;
                    box-sizing: border-box;
                    padding: 0;

                    li {
                        height: 52px;
                        display: table;
                        border-bottom: 1px solid #e7e7e7;
                        box-shadow: 0px 1px 0px #ffffff;
                        width: 100%;

                        &.selecionado {
                            background-color: $item_selecionado;
                        }

                        a {
                            color: $cinza_escuro;
                            text-decoration: none;
                            cursor: pointer;
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 17px;
                            padding-left: 15px;
                        }
                    } //li
                } //ul
            } //lista

            .detalhe {
                width: calc(100% - #{$lista_w});
                height: calc(100% - #{$cabecalho});
                min-height: calc(100vh - #{$cabecalho});
                max-height: calc(100vh - #{$cabecalho});
                overflow-y: scroll;
                float: left;
                box-sizing: border-box;
                padding: 45px 50px 70px 50px;

                &.loading {
                    opacity: 0.2;
                    @extend %transition_fast;
                }
                &.loaded {
                    opacity: 1;
                    @extend %transition_fast;
                }
            }

        } //#conteudo_geral
    } //#principal
} //#app


//
// Select2 overrides
//
.select2-container {
    min-width: 400px;
    margin-top: -8px;
}
.select2-container--default,
.select2-selection,
.select2-selection--multiple {
    border: none !important;
}
.select2-dropdown-custom {
    width: 200px !important;
}

#projetos_pf .select2-container {
    margin-top: 2px !important;
}