
//Formulários
@import "variables";

body {
    margin: 0;
    background-color: white;
    font-family: $fonte-admin-light;
    font-size: $font-size-base;
    overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul {
    list-style: none;
    margin-top: 0;
}

a {
    cursor: pointer;
    color: $magenta;
    text-decoration: none;
    &:hover {
        color: $laranja;
        @extend %transition_fast;
    }
}

hr {
    border-top: 1px solid #efefef;
    margin: 30px 0;
}

#app {
    margin: 0;
    width: 100%;
    //height: 100%;
    //display: inline-block;
    float: left;
    overflow:hidden;
    position:relative;

    #principal {

        width: 100%;
        //height: 100%;
        //display: inline-block;
        float: left;
        position:relative;
        background-color: $cor_fundo;

        #container_geral {
            //display: inline-block;
            float: left;
            position:relative;
            width: 100%;
            min-height: 100vh;
            //
            background-image: url('../img/home-limpa.png');
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            padding: 0;


            #login {
              //
              .login-page {
                width: 360px;
                padding: 8% 0 0;
                margin: auto;
              }
              .form {
                position: relative;
                z-index: 1;
                background: $cor_fundo;
                max-width: 360px;
                margin: 0 auto 100px;
                padding: 45px;
                text-align: center;
                box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

                input {
                  font-family: $fonte-projeto-regular;
                  outline: 0;
                  background: #f2f2f2;
                  width: 100%;
                  border: 0;
                  margin: 0 0 15px;
                  padding: 15px;
                  box-sizing: border-box;
                  font-size: 14px;
                }

                button {
                  font-family: $fonte-projeto-bold;
                  text-transform: uppercase;
                  outline: 0;
                  background: $magenta;
                  width: 100%;
                  border: 0;
                  padding: 15px;
                  color: $cor_fundo;
                  font-size: 14px;
                  -webkit-transition: all 0.3 ease;
                  transition: all 0.3 ease;
                  cursor: pointer;

                  &:hover,&:active,&:focus {
                    background: $laranja;
                  }
                }

                .message {
                  margin: 15px 0 0;
                  color: #b3b3b3;
                  font-size: 12px;
                }

                .message a {
                  color: #4CAF50;
                  text-decoration: none;
                }

                .register-form {
                  display: none;
                }
              } //.form

              .container {
                position: relative;
                z-index: 1;
                max-width: 300px;
                margin: 0 auto;

                &:before, &:after {
                  content: "";
                  display: block;
                  clear: both;
                }

                .info {
                  margin: 50px auto;
                  text-align: center;

                  h1 {
                    margin: 0 0 15px;
                    padding: 0;
                    font-size: 36px;
                    font-weight: 300;
                    color: #1a1a1a;
                  }

                  span {
                    color: #4d4d4d;
                    font-size: 12px;

                    a {
                      color: #000000;
                      text-decoration: none;
                    }

                    .fa {
                      color: #EF3B3A;
                    }

                  } //span

                } //.info

              } //.container

            } //#login

            .modal-mask {
              position: fixed;
              z-index: 9998;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, .5);
              display: table;
              transition: opacity .5s ease;
            }

            .modal-wrapper {
              display: table-cell;
              vertical-align: middle;
            }

            .modal-container {
              width: 300px;
              margin: 0px auto;
              padding: 20px 30px;
              background-color: $cor_fundo;
              border-radius: 2px;
              box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
              transition: all .5s ease;
              font-family: $fonte-admin-medium;
            }

            .modal-close-container {
              position: relative;

              .modal-close {
                position: absolute;
                right: -20px;
                top: -12px;

                a {
                  color: $cinza_borda;
                }
              }
            }

            .modal-header {
              padding: 14px 0 2px 0;
            }

            .modal-header h3 {
              margin-top: 0;
              color: $cinza_escuro;
              font-size: 22px;
            }

            .modal-body {
              margin: 20px 0;
              padding: 0;
            }

            .modal-footer {
              padding: 6px 15px 15px 0;
              border-top: none;
            }

            .modal-default-button {
              float: left;
              padding: 8px 7px 2px 7px;
            }

            /*
             * The following styles are auto-applied to elements with
             * transition="modal" when their visibility is toggled
             * by Vue.js.
             *
             * You can easily play with the modal transition by editing
             * these styles.
             */

            .modal-enter {
              opacity: 0;
            }

            .modal-leave-active {
              opacity: 0;
            }

            .modal-enter .modal-container,
            .modal-leave-active .modal-container {
              -webkit-transform: scale(1.1);
              transform: scale(1.1);
            }
          }

        #cabecalho {
            width: 100%;
            height: $cabecalho;
            background-color: $cor_fundo;
            border-bottom: 1px solid $cinza_borda;
            box-sizing: border-box;
            font-size: 16px;

            a {
                color: $laranja;
                text-decoration: none;
            }
    
            .container {
                width: 100%;
                height: 100%;
                padding: 14px 30px;
                box-sizing: border-box;

                .logo {
                    float: left;

                    img {
                        width: 115px;
                        height: auto;
                    }
                }   
    
                .usuario {
                    float: right;
                    width: 400px;
                    height: 100%;
                    text-align: right;
                    color: black;
                    margin-top: 10px;
    
                    .login,
                    #nome_usuario,
                    .registrar,
                    .logout {
                        display: inline-block;
                    }
                }
    
            } //.container
        } //#cabecalho

        #sidebar {
            float: left;
            background-color: $cinza_medio;
            width: $sidebar_w;
            height: calc(100% - #{$cabecalho});
            min-height: calc(100vh - #{$cabecalho});
            padding: 20px 0 0 0;
            box-sizing: border-box;
            position:relative;

            ul {
                padding: 0;

                li {
                    line-height: 1em;
                    padding: 12px 10px 12px 0;
                    text-align: right;

                    &.grupo {
                        //
                        span {
                            color: $cinza_escuro;
                            font-family: $fonte-admin-medium;
                        }
                    }

                    &.opcao {
                        &.selecionado {
                            background-color: $cinza_medio2;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $cinza_escuro;
                        font-size: 17px;
                    }
                } //li
            } //ul

            #inferior {
                position: absolute;
                bottom: 0;
                margin: 0;
                width: 100%;

                .add_contato {
                    height: 45px;
                    border-top: 1px solid $cinza_borda;

                    .botao {
                        height: 100%;
                        width: 45px;
                        float: right;
                        display: table;

                        .botao_inner {
                            display: table-cell;
                            vertical-align: middle;
                            text-align: center;

                            img {
                                cursor: pointer;
                            }
                        }
                    }
                } //.add_contato
            } //#inferior
        } //#sidebar

        #conteudo_geral {
            float: left;
            width: calc(100% - #{$sidebar_w});
            //height: calc(100% - #{$cabecalho});
            background-color: $cor_fundo;
            padding: 0;
            box-sizing: border-box;
            position:relative;
            min-height: calc(100vh - #{$cabecalho});

            .login {
                padding: 0 0 0 30px;
                margin: 80px 0 0 0;

                .login-label {
                    margin-top: 7px;
                }
            }

            #container_conteudo {

                .titulo {
                    color: $cinza_escuro;
                    font-size: 2.5em;
                    height: 92px;
                    display: block;
                    width: 100%;

                    .imagem_destaque {
                      display: block;
                      width: 92px;
                      height: 92px;
                      float: left;

                      img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                      }
                    }
                    .nome {
                      float: left;
                      display: table;
                      width: calc(100% - 92px);
                      height: 100%;
                      padding-left: 30px;
                      box-sizing: border-box;

                      span {
                        display: table-cell;
                        vertical-align: middle;
                        color: $cinza_escuro;

                        input {
                          color: inherit;
                        }
                      }
                    }
                }

                .campo {
                    width: auto;
                    margin-bottom: 12px;
                    color: $cinza;
                    margin-right: 20px;
                    text-align: left;
                }

                label {
                    color: $cinza;
                }

                .link_abrir_box {
                  font-size: 14px;
                  color: $laranja;
                  margin: 18px 0;
                  display: inline-block;

                  &.delete {
                    color: $vermelho;
                  }

                }

                .grupo {
                    //
                    input,
                    select,
                    .nome_grupo {
                        margin-bottom: 20px;
                    }

                    .nome_grupo {
                        font-size: 1.313em;
                        margin-top: 32px;
                    }

                    input {}

                } //.grupo

                .inputfile {
                  width: 0.1px;
                  height: 0.1px;
                  opacity: 0;
                  overflow: hidden;
                  position: absolute;
                  z-index: -1;
                }

                .inputfile + label {
                  font-size: 14px;
                  font-weight: 700;
                  color: white;
                  background-color: $magenta;
                  display: inline-block;
                  cursor: pointer;
                  padding: 4px 8px;

                  span {
                    margin-top: -19px;
                    margin-left: 25px;
                    display: block;
                  }
                }

                .inputfile:focus + label,
                .inputfile + label:hover {
                  background-color: $laranja;
                }

                .inputfile:focus + label {
                  outline: 1px dotted #000;
                  outline: -webkit-focus-ring-color auto 5px;
                }

                .tabela_arquivos {
                  //

                  table {
                    font-size: 12px;
                    border-collapse: collapse;
                    border-spacing: 0;

                    th, td {
                      position: relative;
                      top: 2px;
                      padding: 5px 10px 3px 0;
                      height: 29px;
                      text-align: left;

                      &.num_arquivo {
                        min-width: 20px;
                        max-width: 20px;
                      }
                      &.nome_arquivo {
                        min-width: 240px;
                        max-width: 240px;
                      }
                      &.descricao_arquivo {
                        min-width: 240px;
                        max-width: 240px;
                      }
                      &.destaque_arquivo {
                        text-align: center;
                        min-width: 75px;
                        max-width: 75px;
                      }
                      &.tipo_arquivo {
                        min-width: 78px;
                        max-width: 78px;
                      }
                      &.data_arquivo {
                        min-width: 130px;
                        max-width: 130px;
                      }
                      &.remove_arquivo {
                        text-align: center;
                        min-width: 60px;
                        max-width: 60px;
                      }

                      input {
                        background-color: transparent;
                        border: none;
                        width: 100%;
                        min-width: unset;
                      }
                    }

                    tr:nth-child(even){
                      background-color: $cinza_claro;
                      //color: #fff;
                    }

                  }//table

                  .btn_destaque {
                    width: 18px;
                    height: 18px;
                  }
                }//tabela_arquivos

                .cargos {}

                .nome_grupo {
                    margin-bottom: 20px;
                    font-size: 1.313em;
                    margin-top: 32px;
                }

                .editar {
                    font-size: 0.6em;
                    display: inline-block;
                    text-transform: lowercase;
                    margin: 5px 0 0 10px;
                    position: absolute;

                    a {
                        color: $cinza;
                    }
                }

                .campo,
                .valor {
                    float: left;
                }

                .valor {
                    width: 100%;
                }

                .adiciona_contato {
                    display: inline-block;
                }

                br {
                    clear: both;
                }

                form {
                    display: block;
                }

                input[type=text],
                input[type=password] {
                    outline: none;
                    border: none;
                    display: inline-block;
                    box-sizing: border-box;
                    width: auto;
                    min-width: 350px;
                    border-bottom: 1px solid transparent;
                }

                input[type=text]:focus {
                    box-shadow: $cor_fundo;
                    border-bottom: 1px solid lightgray;
                }

                select {
                    background-color: $cor_fundo;
                    border: none;
                }

                .botoes {
                    margin-left: 8px;
                    display: inline-block;

                    .btn_edit,
                    .btn_delete {
                        width: 12px;
                        height: auto;
                        margin-right: 5px;
                    }
                }

                .form_endereco {
                    //

                }

            } //#container_conteudo

            .busca_lista {
                width: $lista_w;
                display: inline-block;
                float: left;

                .lupa_texto_container {
                    height: $busca_lista_h;
                    background-color: $cinza_claro;
                    display: table;
                    width: $lista_w;
                    padding: 1px 0 0 10px;
                    border-bottom: 1px solid $cinza_borda;
                    border-left: 1px solid $cinza_borda;
                    border-right: 1px solid $cinza_borda;
                    box-sizing: border-box;

                    .lupa_texto {
                        vertical-align: middle;
                        display: table-cell;

                        .lupa {
                            float: left;
                            width: $lupa;
                            height: $lupa;
                            margin-right: 5px;
                            background-size: $lupa $lupa;
                            display: block;
                            background-image: url('../img/lupa.png');
                        }

                        input {
                            width: calc(100% - (#{$lupa} + 5px));
                            border: none;
                            background-color: $cinza_claro;
                            height: $lupa;
                            font-size: 19px;
                            color: $cinza_escuro;
                            box-sizing: border-box;

                            &:focus {
                                outline: none;
                            }

                            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                                color: $cinza_placeholder;
                                opacity: 1; /* Firefox */
                            }

                            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                                color: $cinza_placeholder;
                            }

                            &::-ms-input-placeholder { /* Microsoft Edge */
                                color: $cinza_placeholder;
                            }
                        }
                    } //.lupa_texto
                } //.lupa_texto_container
            } //.busca_lista

            .lista {
                float: left;
                width: $lista_w;
                height: calc(100% - #{$busca_lista_h} - #{$busca_lista_h});
                min-height: calc(100vh - #{$cabecalho} - #{$busca_lista_h});
                max-height: calc(100vh - #{$cabecalho} - #{$busca_lista_h});
                overflow-y: auto;
                background-color: $cinza_claro;
                border-left: 1px solid $cinza_borda;
                border-right: 1px solid $cinza_borda;
                padding: 0;
                box-sizing: border-box;

                ul {
                    display: block;
                    box-sizing: border-box;
                    padding: 0;

                    li {
                        height: 52px;
                        display: table;
                        border-bottom: 1px solid #e7e7e7;
                        box-shadow: 0px 1px 0px #ffffff;
                        width: 100%;

                        &.selecionado {
                            background-color: $item_selecionado;
                        }

                        a {
                            color: $cinza_escuro;
                            text-decoration: none;
                            cursor: pointer;
                            display: table-cell;
                            vertical-align: middle;
                            font-size: 17px;
                            padding-left: 15px;
                        }
                    } //li
                } //ul
            } //lista

            .home.detalhe {
              background-image: url('../img/home-limpa.png');
              background-position: center center;
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
              padding: 0;

              #detalhe_container {
                display: table;
                height: calc(100vh - #{$cabecalho});
                min-height: calc(100vh - #{$cabecalho});
                max-height: calc(100vh - #{$cabecalho});

                #container_conteudo {
                  display: table-cell;
                  vertical-align: middle;
                  color: $cor_fundo;
                  font-family: $fonte-projeto-regular;
                  font-size: 24px;
                  padding: 0 0 0 48px;

                  span {
                    font-family: $fonte-projeto-bold;
                  }

                }
              }



            } //.home.detalhe

            .detalhe {
                width: calc(100% - #{$lista_w});
                height: calc(100% - #{$cabecalho});
                min-height: calc(100vh - #{$cabecalho});
                max-height: calc(100vh - #{$cabecalho});
                overflow-y: scroll;
                float: left;
                box-sizing: border-box;
                padding: 45px 50px 70px 50px;

                &.loading {
                    opacity: 0.2;
                    @extend %transition_fast;
                }
                &.loaded {
                    opacity: 1;
                    @extend %transition_fast;
                }
            }

        } //#conteudo_geral
    } //#principal
} //#app


//
// Select2 overrides
//
.select2-container {
    min-width: 400px;
    margin-top: -8px;
}
.select2-container--default,
.select2-selection,
.select2-selection--multiple {
    border: none !important;
}
.select2-dropdown-custom {
    width: 200px !important;
}

#projetos_pf .select2-container {
    margin-top: 2px !important;
}

//Quill
#editor {
  //
  hr {
    margin: 20px 0 !important;
  }

  .ql-editor .ql-size-large {
    font-size: 1.4em;
  }

}