
//Formulários
@import "partials/forms";

body {
    margin: 0;
    background-color: white;
    font-family: $fonte-admin-light;
    font-size: $font-size-base;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

#app {
    margin: 0;
    width: 100%;
    //height: 100%;
    //display: inline-block;
    float: left;
    overflow:hidden;
    position:relative;

    #principal {

        width: 100%;
        //height: 100%;
        //display: inline-block;
        float: left;
        position:relative;
        background-color: $cor_fundo;

        #container_geral {
            //display: inline-block;
            float: left;
            position:relative;
            width: 100%;
            min-height: 100vh;
        }

        #cabecalho {
            width: 100%;
            height: $cabecalho;
            background-color: $cor_fundo;
            border-bottom: 1px solid $cinza_borda;

            a {
                color: $laranja;
                text-decoration: none;
            }
    
            .container {
                width: 100%;
                height: 100%;
                padding: 14px 30px;
                box-sizing: border-box;

                .logo {
                    float: left;

                    img {
                        width: 115px;
                        height: auto;
                    }
                }   
    
                .usuario {
                    float: right;
                    width: 400px;
                    height: 100%;
                    text-align: right;
                    color: black;
                    margin-top: 10px;
    
                    .login,
                    .nome_usuario,
                    .registrar,
                    .logout {
                        display: inline-block;
                    }
                }
    
            }
        }

        #sidebar {
            float: left;
            background-color: $cinza_claro;
            width: $sidebar_w;
            height: calc(100% - #{$cabecalho});
            min-height: calc(100vh - #{$cabecalho});
            padding: 20px 0 0 0;
            border-right: 1px solid $cinza_borda;
            box-sizing: border-box;
            position:relative;

            ul {
                padding: 0;

                li {
                    
                    line-height: 1em;
                    padding: 12px 10px 12px 0;
                    text-align: right;

                    &.grupo {
                        // 

                        span {
                            color: $cinza_escuro;
                            font-family: $fonte-admin-medium;
                        }
                    }

                    &.opcao {

                        &:hover {
                            background-color: #f7f7f7;
                        }
                    }

                    a {
                        text-decoration: none;
                        color: $cinza_escuro;
                    }
                } //li

                
            }

            #inferior {
                position: absolute;
                bottom: 0;
                width: 100%;
                margin: 0 0 20px 0;
            }
        }

        #conteudo_geral {
            float: left;
            width: calc(100% - #{$sidebar_w});
            //height: calc(100% - #{$cabecalho});
            background-color: $cor_fundo;
            padding: 0;
            box-sizing: border-box;
            position:relative;
            min-height: calc(100vh - #{$cabecalho});

            #container_conteudo {

                .titulo {
                    color: $cinza_escuro;
                    font-size: 2.5em;
                    min-height: 48px;
                    display: block;
                }

                form {
                    //

                    label {
                        color: $cinza;
                    }

                    .grupo {
                        //

                        input,
                        select,
                        .nome_grupo {
                            margin-bottom: 20px;
                        }

                        .nome_grupo {
                            font-size: 1.313em;
                            margin-top: 32px;
                        }

                        input {}

                    } //.grupo
                } //form

                .resumo {

                    .nome_grupo {
                        margin-bottom: 20px;
                        font-size: 1.313em;
                        margin-top: 32px;
                    }

                    .editar {
                        font-size: 0.6em;
                        display: inline-block;
                        text-transform: lowercase;
                        margin: 5px 0 0 10px;
                        position: absolute;

                        a {
                            color: $cinza;
                        }
                    }

                    .campo,
                    .valor {
                        float: left;
                    }

                    .campo {
                        width: 150px;
                        margin-bottom: 12px;
                        color: $cinza;
                        margin-right: 20px;
                        text-align: right;
                    }

                    .valor {
                        width: calc(100% - 170px);
                    }

                    br {
                        clear: both;
                    }
                    
                    form {
                        display: block;
                    }

                    input[type=text] {
                        outline: none;
                        border: none;
                        display: inline-block;
                        box-sizing: border-box;
                        width: 100%;
                    }

                    input[type=text]:focus {
                        box-shadow: $cor_fundo;
                        border: none;
                    }

                    select {
                        background-color: $cor_fundo;
                        border: none;
                    }

                    .botoes {
                        margin-left: 8px;
                        display: inline-block;

                        .btn_edit,
                        .btn_delete {
                            width: 12px;
                            height: auto;
                            margin-right: 5px;
                        }
                    }
                }





            } //#container_conteudo

            .lista {
                float: left;
                width: $lista_w;
                min-height: calc(100vh - #{$cabecalho});
                max-height: calc(100vh - #{$cabecalho});
                overflow-y: auto;

                ul {
                    display: inline;

                    li {
                        height: 30px;

                        a {
                            color: $cinza;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    } //li
                } //ul
            } //lista

            .conteudo {
                width: calc(100% - #{$lista_w});
                height: 100%;
                float: left;
            }
        } //#conteudo
    } //#principal
} //#app