@font-face {
    font-family: 'GTWalsheimProRegular';
    src: url('GTWalsheimProRegular.eot');
    src: url('GTWalsheimProRegular.eot?#iefix') format('embedded-opentype'),
        url('GTWalsheimProRegular.woff2') format('woff2'),
        url('GTWalsheimProRegular.woff') format('woff'),
        url('GTWalsheimProRegular.ttf') format('truetype'),
        url('GTWalsheimProRegular.svg#GTWalsheimProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GTWalsheimProBold';
    src: url('GTWalsheimProBold.eot');
    src: url('GTWalsheimProBold.eot?#iefix') format('embedded-opentype'),
        url('GTWalsheimProBold.woff2') format('woff2'),
        url('GTWalsheimProBold.woff') format('woff'),
        url('GTWalsheimProBold.ttf') format('truetype'),
        url('GTWalsheimProBold.svg#GTWalsheimProBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

